div.container {
    width: 100%;
    font-family: "Fira Code", sans-serif;
}
header {
    padding: 1em;
    color: black;
    background-color: lightgrey;
    clear: left;
    text-align:left;
}
article { padding: 1em; }

table {
    border-collapse: collapse;
    border: 1px solid lightgrey;
}
table td {
    text-align: right;
    padding: 8px;
    border: 1px solid lightgrey;
}
table th { 
    text-align: right;
    padding: 8px;
    border: 1px solid lightgrey;
}
table#abilities tr:nth-child(1) {
    background-color: lightgrey;
}
table#abilities td {
    table-layout: fixed;
    width: 25%;
}
table#skills tr:nth-child(1) {
    background-color: lightgrey;
}
table#attacks tr:nth-child(1) {
    background-color: lightgrey;
}
table#spells tr:nth-child(1) {
    background-color: lightgrey;
}
table#spells tr{
    font-size: 12px;
    height: 14px;
}
table#spell_slots th {
    background-color: lightgrey;
}
