div.container {
    width: 100%;
    font-family: "Liberation", sans-serif;
}
header {
    padding: 1em;
    color: black;
    background-color: lightgrey;
    clear: left;
    text-align:left;
}
article { padding: 1em; }

table {
    font-family: "Fira Code", sans-serif;
    border-collapse: collapse;
    border: 1px solid lightgrey;
}
table td {
    text-align: right;
    padding: 6px;
    /* border: 1px solid lightgrey; */
}
table th { 
    text-align: right;
    padding: 8px;
    background-color: lightgrey;
    /* border: 1px solid lightgrey; */
}
table#summary {
    float: right;
}
table#abilities tr:nth-child(1) {
    background-color: lightgrey;
}
table#abilities td {
    table-layout: fixed;
    width: 25%;
}
table#skills tr:nth-child(1) {
    background-color: lightgrey;
}
table#attacks tr:nth-child(1) {
    background-color: lightgrey;
}
table#spells {
    font-family: "Liberation", sans-serif;
}
table#spells tr:nth-child(odd) {
    background-color: lightgrey;
}
table#spells tr{
    font-size: 12px;
}
table#spells td{
    padding: 0px;
}
table#spell_slots th {
    background-color: lightgrey;
}

/* From https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 560px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: 0%;
  left: 100%;
  /* margin-left: -300px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltiptext {
    font-size: 12px;
    font-family: "Liberation", sans-serif;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
