.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidenav button {
    background: none!important;
    border: none;
    margin-left: 20px;
    margin-top: 15px;
    padding: 0!important;
    /*optional*/
    /*font-family: arial, sans-serif; */
    /*input has OS specific font-family*/
    color: #818181;
    cursor: pointer;
    /* padding: 6px 8px 6px 16px; */
    font-size: 25px;
    display: block;
    transition-duration: 0.4s;
}

.sidenav button.selected {
    color: #ffffff;
    text-decoration: underline;
}

.sidenav button:hover {
    color: #ffffff;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

