<div class="container" *ngIf="sheet$ | async as sheet">
  <header>
    <button style="float:right">edit</button>
    <h1>{{sheet.name}}</h1>
  </header>
  <article>
    <div>
      <table id="summary" style="padding: 4px">
        <tr><th>Race      </th><td>{{sheet.summary.race}}</td></tr>
        <tr><th>Class     </th><td>{{sheet.summary.class}}</td></tr>
        <tr><th>Level     </th><td>{{sheet.summary.level}}</td></tr>
        <tr><th>Max HP    </th><td>{{sheet.summary.maxhp}}</td></tr>
        <tr><th>AC        </th><td>{{sheet.summary.ac}}</td></tr>
        <tr><th>Initiative</th><td>{{formatModifier(sheet.summary.initiative)}}</td></tr>
        <tr><th>Speed     </th><td>{{sheet.summary.speed}}</td></tr>
        <tr><th>HD        </th><td>{{sheet.summary.hd}}</td></tr>
        <tr><th>PP        </th><td>{{sheet.summary.pp}}</td></tr>
        <tr><th>Prof Bon  </th><td>{{formatModifier(sheet.summary.prof_bon)}}</td></tr>
      </table>
    </div>
    <table id="abilities">
      <caption>
        <h4>Abilities</h4>
      </caption>
      <tr><th></th><th>Score</th><th>Mod</th><th>ST</th></tr>
      <tr *ngFor="let ability of abilities()">
        <th>{{ability}}</th>
        <td>{{sheet.ability_table[ability].score}}</td>
        <td>{{formatModifier(sheet.ability_table[ability].mod)}}</td>
        <td>{{formatModifier(sheet.ability_table[ability].st)}}</td>
      </tr>
    </table>
    <table id="skills">
      <caption> <h4>Skills</h4> </caption>
      <tr><th></th><th>Skill</th><th>Score</th></tr>
      <tr><td rowspan="1"><b>STR</b></td><td>athletics</td><td>{{formatModifier(sheet.skill_table["athletics"])}}</td></tr>
      <tr><td rowspan="3"><b>DEX</b></td><td>acrobatics</td><td>{{formatModifier(sheet.skill_table["acrobatics"])}}</td></tr>
      <tr><td>sleight of hand</td><td>{{formatModifier(sheet.skill_table["sleight of hand"])}}</td></tr>
      <tr><td>stealth</td><td>{{formatModifier(sheet.skill_table["stealth"])}}</td></tr>
      <tr><td rowspan="5"><b>WIS</b></td><td>animal handling</td><td>{{formatModifier(sheet.skill_table["animal handling"])}}</td></tr>
      <tr><td>insight</td><td>{{formatModifier(sheet.skill_table["insight"])}}</td></tr>
      <tr><td>medicine</td><td>{{formatModifier(sheet.skill_table["medicine"])}}</td></tr>
      <tr><td>perception</td><td>{{formatModifier(sheet.skill_table["perception"])}}</td></tr>
      <tr><td>survival</td><td>{{formatModifier(sheet.skill_table["survival"])}}</td></tr>
      <tr><td rowspan="5"><b>INT</b></td><td>arcana</td><td>{{formatModifier(sheet.skill_table["arcana"])}}</td></tr>
      <tr><td>history</td><td>{{formatModifier(sheet.skill_table["history"])}}</td></tr>
      <tr><td>investigation</td><td>{{formatModifier(sheet.skill_table["investigation"])}}</td></tr>
      <tr><td>nature</td><td>{{formatModifier(sheet.skill_table["nature"])}}</td></tr>
      <tr><td>religion</td><td>{{formatModifier(sheet.skill_table["religion"])}}</td></tr>
      <tr><td rowspan="4"><b>CHA</b></td><td>deception</td><td>{{formatModifier(sheet.skill_table["deception"])}}</td></tr>
      <tr><td>intimidation</td><td>{{formatModifier(sheet.skill_table["intimidation"])}}</td></tr>
      <tr><td>performance</td><td>{{formatModifier(sheet.skill_table["performance"])}}</td></tr>
      <tr><td>persuasion</td><td>{{formatModifier(sheet.skill_table["persuasion"])}}</td></tr>
    </table>

    <h2>Proficiencies</h2>
    <div>
      <ul>
        <li><b>Languages: </b>{{sheet.languages.join(", ")}}</li>
        <li><b>Weapons: </b>{{sheet.weapons.join(", ")}}</li>
        <li><b>Armor: </b>{{sheet.armor.join(", ")}}</li>
        <li><b>Tools: </b>{{sheet.tools.join(", ")}}</li>
      </ul>
    </div>

    <h2>Notable traits</h2>
    <div>
      <ng-container *ngFor="let category of sheet.notable_traits">
        <h4>
          From {{category.category}}:
        </h4>
        <ul>
          <li *ngFor="let trait of category.traits">
            <div [class]="trait.desc !== null ? 'tooltip' : null">
              {{trait.name}}
              <span class="tooltiptext" *ngIf="trait.desc !== null">
                {{trait.desc}}
              </span>
            </div>
          </li>
        </ul>
      </ng-container>
    </div>

    <table>
      <caption><h4>Attacks</h4></caption>
      <tr><th></th><th>Range</th><th>To Hit</th><th>Damage</th><th>Notes</th></tr>
      <tr *ngFor="let attack of sheet.attacks">
        <td>{{attack.name}}</td>
        <td>{{attack.range}}</td>
        <td>{{attack.to_hit_or_dc}}</td>
        <td>{{attack.damage}}</td>
        <td>{{attack.notes}}</td>
      </tr>
    </table>

    <h2>Spellcasting</h2>
    <table *ngIf="sheet.spell_slots.length > 0">
      <caption><h4>Spell slots</h4></caption>
      <tr><th>Level</th><th *ngFor="let lvl of rincl(1,9)">{{lvl}}</th></tr>
      <tr *ngIf="sheet.spell_slots.length > 0">
        <th>Spell slots</th>
        <td *ngFor="let lvl of rincl(1,9)">
          <input type="checkbox" *ngFor="let umph of rincl(1,getSpellSlotsAtSpellLevel(sheet, lvl))"/>
        </td>
      </tr>

      <!--
      <tr *ngIf="sheet.pact_magic !== null">
        <th>Pact slots</th>
        <td *ngFor="let lvl of spellLevels">
          <input type="checkbox" *ngFor="let i of pactSlotsAtSpellLevel(lvl)"/>
        </td>
      </tr>
       -->
    </table>

    <div *ngFor="let section of sheet.spellcasting_sections">
      <h3>{{section.origin}} spells</h3>
      <input [(ngModel)]="showOnlyPreparedSpells"
             (ngModelChange)="toggleShowOnlyPreparedSpells($event)"
             type="checkbox">
      <table class="spelltable">
        <tr>
          <th *ngIf="!showOnlyPreparedSpells">Prep'd</th>
          <th>Lvl</th>
          <th>Spell</th>
          <th>CT</th>
          <th>Rng</th>
          <th>Cpts</th>
          <th>Dur</th>
          <th>Conc</th>
          <th>To Hit/DC</th>
          <th>Effect (summary)</th>
          <th>Res</th>
        </tr>
        <tr *ngFor="let spell of filteredSpells$(section.spells) | async">
          <td *ngIf="!showOnlyPreparedSpells">
            <!-- 
            <ng-container *ngIf="spellPrepared$$(section.origin, spell.name) | async as subject">
              <app-spell-prepared [maybeToggle]="subject"></app-spell-prepared>
            </ng-container>
-->
          </td>
          <td>{{spell.level}}</td>
          <td>
            <div class="tooltip">
              {{spell.name}}
              <span class="tooltiptext">
                <p *ngFor="let paragraph of spell.description"> {{paragraph}} </p>
              </span>
            </div>
          </td>
          <td>{{spell.casting_time}}</td>
          <td>{{spell.range}}</td>
          <td [innerHtml]="formatComponents(spell.components)"></td>
          <td>{{spell.duration}}</td>
          <td>{{spell.concentration}}</td>
          <td>{{formatToHitOrDc(spell)}}</td>
          <td>{{spell.summary}}</td>
          <td>{{spell.resources.join(", ")}}</td>
        </tr>
      </table>
    </div>
  </article>
</div>
